/* Utilities  */
p {
  margin: 10px 0;
  font-size: 18px;
}
h4 {
  font-size: 18px;
  text-align: left;
  font-weight: bold;
}
ol {
  font-size: 18px;
}
/* Section header */
.section_header_methodology {
  height: 450px;
  width: auto;
  background-color: #171f20;
}
.overlay_text{
  background-color: #171f20;
  height: 500px
}

.header {
  display: flex;  
  align-items: start;
  background: #4c4b18;
}
.header .box {
  flex: 1;
  background: #4c4b18;
  color: #fff;
  border-radius: 10px;
  margin: 20px 10px;
  padding: 15px 20px;
  text-align:center;
  align-items: center;
  justify-content: center;
}
.header .box:nth-of-type(1) {
  flex-grow:2;
}
.header .box:nth-of-type(2) {
  flex-grow:1;
}
.container_buttons_links_header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap:wrap;
}
.container_buttons_links_header a:hover {
  color: #2a4359;
}
.container_buttons_links_header btn {
  width: 100px;
  height: 100px;
  background: #2a4359;
  color: #fff;
  display: flex;
  justify-content:center;
  align-items:center;
}
/* Section methodology */
.section_body_methodology {
  background-color: #c3d0d1;
  padding: 20px;
}

.methodology {
  display: flex;
  align-items: start;
  background: #c3d0d1;
}

.methodology .row {
  display: flex;
  flex-wrap: wrap; /* Enable wrapping for smaller screens */
  justify-content: space-between; /* Arrange boxes horizontally with space between */
  margin-bottom: 20px; /* Add margin between rows */
  width: 1680px;
}

.methodology .row .box {
  flex: 1;
  background: #EDFBE0;
  color: black;
  border-radius: 10px;
  padding: 15px 20px;
  text-align: center;
  margin: 0 10px; /* Adjust margin to increase space between boxes */
}

.methodology .row .box:nth-child(2) {
  margin-right: 20px; /* Add margin to the right side of the box */
}

.methodology .box_table1 {
  flex: 1; /* Equal width for all boxes */
  background: #EDFBE0;
  color: black;
  border-radius: 10px;
  margin: 10px; /* Adjust margin */
  padding: 15px;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.methodology .box_table1 {
  background: #8badd9;
}

.methodology .box_table1 {
  background-color: #EDFBE0; /* Green color */
  color: rgb(0, 0, 0); /* Text color */
  border-radius: 5px; /* Rounded corners */
}

.methodology .box {
  background-color: #EDFBE0; /* Green color */
  color: rgb(0, 0, 0); /* Text color */
  border-radius: 5px; /* Rounded corners */
}




@media (max-width:768px) { 
  .header {
    flex-direction: column;
  } 
  .methodology {
    flex-direction: column;
  } 
}