{% extends "layout.html" %}
{% block content %}

<!-- Header -->
<section class="section_header_home">

    <div class="header_home">
      <img class="header_home" src="{{url_for('static', filename='pictures/bilde.jpg')}}" alt="">
      <div class="overlay_text">
        <br>
        <br>
        <br>
        <div class="container"> 
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">
                        {{ message }}
                    </div> 
                {% endfor %}
            {% endif %}
        {% endwith %}
        <h1 style="font-size:55px;"><span class="text-logo"> Home</span></h1>

        <p style="text-align:center;">
          In this webpage we have presented the consept and the background for creating this website. In this website we have done resarch about carbon emissions and
          green digitalization, which we have developed into an paper. From this paper, we have developed an carbon emissions app, which can help users 
          to calulcate their carbon emissions, based on their type of transport vechile, and the distance. 
        </p>
        </div>
        <div class="container_buttons_links_header_home">
          <div class="btn">
              <a href="{{url_for('users.register')}}" class="btn btn-primary btn-lg mr-2", style="background-color:#007bff;">Register</a>
          </div>
          <div class="btn">
              <a href="{{url_for('users.login')}}" class="btn btn-primary btn-lg mr-2", style="background-color:#007bff;">Login</a>
          </div>
        </div>  
      </div>
      
    </div>

  </div>
</section> 


<!-- Developers -->
<section class="section_developers">
  <div class="container">

    <div class="developers" style="display:block;">
      <h1 style="text-align:center;"><span class="text-logo">Our Team</span></h1>
      <p>
        The team which have developed the carbon app and written the methodology 
        in the course "Green digitalization and App Development" are:      
      </p>      
    </div>

    <div class="developers">
        <div class="box">
          <img src="{{url_for('static',filename='pictures/Filip2.jpeg')}}" alt="" style="border-radius: 50%; width:200px; margin: 5px 5px;">
          <h2>Filip Framstad</h2>
          <p> My name is Filip Framstad and i am 20 years old from Ålesund. I'm taking a one year 
            study in "Digital Økonomi og Ledelse". I also work part time at 
            Sparebanken Sogn og Fjordane. In my spare time i like to work out, where 
            i run and lift weights pretty much every day. 
          </p>
          <div class="section_container_buttons_developers">
            <a class="btn_developers" href="#"  target="_blank">Curriculum</a>
          </div> 
          
        </div>
        <div class="box">
          <img src="{{url_for('static',filename='pictures/Oscar.jpeg')}}" alt="" style="border-radius: 50%; width:200px; margin: 5px 5px;">
          <h3>Oscar Birkeland<br><br>CEO, CFO, Head of Coding, Marketing, Design and Economics, Head developer and assistant to head developer</h3>
          <p>  My name is Oscar Birkeland and i am 19 years old from Osterøy I'm taking a one year 
            study in "Digital Økonomi og Ledelse". I also work part time at 
            Rema 1000 Øyrane Torg. In my spare time i like to work out, where 
            i walk and lift weights pretty much every day. 
          </p>
          <div class="section_container_buttons_developers">
            <a class="btn_developers" href="#"  target="_blank">Curriculum</a>
          </div> 
        </div>

        <div class="box">
          <img src="{{url_for('static',filename='pictures/Thea.jpg')}}" alt="" style="border-radius: 50%; width:200px; margin: 5px 5px;">
          <h3>Thea Raunsgard</h3>
          <p>  My name is Thea Raunsgard and I am 22 years-old from Kinsarvik. I am taking a one year 
            programme in "Digital Økonomi og Ledelse". Previously, I have studied International Management and International
              Business at BI and Grenoble Ecole de Management. I also work part-time at 
            OneSubsea as an HR intern. I enjoy skiing, travelling and hanging out with my friends. 
          </p>
          <div class="section_container_buttons_developers">
            <a class="btn_developers" href="#"  target="_blank">Curriculum</a>
          </div> 
        </div>   

        <div class="box">
          <img src="{{url_for('static',filename='pictures/Hannah.jpeg')}}" alt="" style="border-radius: 50%; width:200px; margin: 5px 5px;">
          <h3>Hannah</h3>
          <p>  I am 23 years old and born and raised in Bergen. Growing up here I developed a big love for the outdoors and I therefore like hiking in the mountains. I also appreciate my friends, and hanging out with them in my spare time. Other than that i love learing new things, especially about other cultures and languages. 
          </p>
          <div class="section_container_buttons_developers">
            <a class="btn_developers" href="#"  target="_blank">Curriculum</a>
          </div> 
        </div>     
    </div>

    <div class="developers">

      <div class="box2">
        <img src="{{url_for('static',filename='pictures/Filip2.jpeg')}}" alt="" style="border-radius: 50%; width:200px; margin: 5px 5px;">
        <h3>Developer 5</h3>
        <p>  My name is Filip Framstad and i am 20 years old from Ålesund. I'm taking a one year 
            study in "Digital Økonomi og Ledelse". I also work part time at 
            Sparebanken Sogn og Fjordane. In my spare time i like to work out, where 
            i run and lift weights pretty much every day. 
          </p>
        <div class="section_container_buttons_developers">
          <a class="btn_developers" href="#"  target="_blank">Curriculum</a>
        </div> 
      </div>

      <div class="box2">
        <img src="{{url_for('static',filename='pictures/Filip2.jpeg')}}" alt="" style="border-radius: 50%; width:200px; margin: 5px 5px;">
        <h3>Developer 6</h3>
        <p>  My name is Filip Framstad and i am 20 years old from Ålesund. I'm taking a one year 
            study in "Digital Økonomi og Ledelse". I also work part time at 
            Sparebanken Sogn og Fjordane. In my spare time i like to work out, where 
            i run and lift weights pretty much every day. 
          </p>
        <div class="section_container_buttons_developers">
          <a class="btn_developers" href="#"  target="_blank">Curriculum</a>
        </div> 
      </div>

      <div class="box2">
        <img src="{{url_for('static',filename='pictures/Filip2.jpeg')}}" alt="" style="border-radius: 50%; width:200px; margin: 5px 5px;">
        <h3>Developer 7</h3>
        <p>  My name is Filip Framstad and i am 20 years old from Ålesund. I'm taking a one year 
            study in "Digital Økonomi og Ledelse". I also work part time at 
            Sparebanken Sogn og Fjordane. In my spare time i like to work out, where 
            i run and lift weights pretty much every day. 
          </p>
        <div class="section_container_buttons_developers">
          <a class="btn_developers" href="#"  target="_blank">Curriculum</a>
        </div> 
      </div>  

      <div class="box2">
        <img src="{{url_for('static',filename='pictures/Filip2.jpeg')}}" alt="" style="border-radius: 50%; width:200px; margin: 5px 5px;">
        <h3>Developer 8</h3>
        <p>  My name is Filip Framstad and i am 20 years old from Ålesund. I'm taking a one year 
            study in "Digital Økonomi og Ledelse". I also work part time at 
            Sparebanken Sogn og Fjordane. In my spare time i like to work out, where 
            i run and lift weights pretty much every day. 
          </p>
        <div class="section_container_buttons_developers">
          <a class="btn_developers" href="#"  target="_blank">Curriculum</a>
        </div> 
      </div>   

  </div>

  </div>          
</section>
        
{% endblock content %}
