{% extends "layout.html" %}
{% block content %}
      </section>
      <div class="overlay_text">
        <div class="container"> 
          <div class="top_home">
          <div class="home_heading">
          Innovating your carbon footprint
          </div>
        <div class="home_heading_info">
          <p>
            Welcome to our cutting-edge carbon tracker for businesses. 
            We're here to revolutionize how you manage your carbon footprint. 
            With real-time insights and actionable data, we empower you to drive meaningful change towards sustainability. 
            Let's innovate your carbon footprint together.
        </p>
        </div>
        <div class="home_heading_info_more">
          <div class="demo_box">
            <div class="btn_nav_demo">
               <a href="/">Demo</a>
            </div>
           </div>
          <div>
            <a href="{{url_for('methodology.methodology_home')}}">See how <i class="fa-solid fa-arrow-right"></i></a>
          </div>
        </div>
        
      </div>
      </div>

    </div>
    <div class="overlay_text">
    <div class="container">
      <section class="container-one">
        <img src="https://assets-global.website-files.com/6266b5e20215f61058171191/627c10be3ada73fe5a3081a2_home_hero_image%201.png" loading="eager" width="475" sizes="(max-width: 479px) 75vw, 475px" alt="Two people at a desk using sustainability software." class="lifestyle-image">
        <img src="https://assets-global.website-files.com/6266b5e20215f61058171191/627ad154b4003504b2925fa9_sustain.life-total-emissions.svg" alt="Card showing a company’s total emissions: 3,174 MT CO2e" width="318px" class="emissions-card">
        <img src="https://assets-global.website-files.com/6266b5e20215f61058171191/627ad1ed392f2454ab401bfc_sustain.life-impact-dashboard.svg" alt="Sample Sustain.Life impact dashboard showing emissions, spend, and offsets " class="impact-chart">
        <img src="https://assets-global.website-files.com/6266b5e20215f61058171191/627ad2568a01143856149c19_sustain.life-building-emissions.svg" alt="Sustain.Life emissions card showing building-related emissions" class="category-card">
      </section>
    <div class="container">
      <section class="container-home-two">
        <h4 class="container-home-two-text">
          Developed together and across our partners
        </h4>
        <div>
          <img src="https://www.hvl.no/globalassets/hvl-internett/bilde/logo/hvl_logo_en_neg.png" alt="logo-hvl" class="logo-hvl">
          <img src="{{url_for('static',filename='pictures/GitHub_Logo_White.png')}}" alt="logo-github" class="logo-github">
        </div>
      </section>
    </div>
    </div>
  </div>
    <section class="home-second-box">
      <div class="container">
      <div class="small-heading-home2">
        HOW IT WORKS
      </div>
      <div class="big-heading-home2">
        Analysing-<br>Calculating<br>your footprint
      </div>
    </div>
    </section>
    

  </div>
</section> 
</body>
</html>

{% endblock content %}
