{% extends "layout.html" %}
{% block content %}

<!-- Header -->
<section class="section_header_home">

    <div class="header_home">
      <img class="header_home" src="{{url_for('static', filename='pictures/bilde.jpg')}}" alt="">
      <div class="overlay_text">
        <br>
        <br>
        <br>
        <div class="container"> 
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">
                        {{ message }}
                    </div> 
                {% endfor %}
            {% endif %}
        {% endwith %}
        <h1 style="font-size:70px;"><span class="text-logo"> Home</span></h1>

        <p style="text-align:center;">
          In this webpage we have presented the concept and the background for creating this website. In this website we have done resarch about carbon emissions and
          green digitalization, which we have developed into a paper. From this paper, we have developed a carbon emissions app, which can help users 
          calulcate their carbon emissions, based on their type of transport vechile, and the distance. 
        </p>
        </div>
        <div class="container_buttons_links_header_home">
          <div class="btn">
              <a href="{{url_for('users.register')}}" class="btn btn-primary btn-lg mr-2", style="background-color:#007bff;">Register</a>
          </div>
          <div class="btn">
              <a href="{{url_for('users.login')}}" class="btn btn-primary btn-lg mr-2", style="background-color:#007bff;">Login</a>
          </div>
        </div>  
      </div>
      
    </div>

  </div>
</section> 


<!-- Developers -->
<section class="section_developers">
  <div class="container">

    <div class="developers" style="display:block;">
      <h1 style="text-align:center;"><span class="text-logo">Our Team</span></h1>
      <p>
        This is the developing team for the Footprint app. We are a group of enthusiatic and passionate students at 
        Høgskulen på Vestlandet taking the course "Green Digitalization and App Development".
        Read more about us below, and do not hesitate to contact us!
      </p>      
    </div>

    <div class="developers">
        <div class="box">
          <img src="{{url_for('static',filename='pictures/Filip3.jpg')}}" alt="" style="border-radius: 50%; width:200px; margin: 5px 5px;">
          <h2>Filip Framstad</h2>
          <p> My name is Filip Framstad and i am 20 years old from Ålesund. I'm taking a one year 
            study in "Digital Økonomi og Ledelse". I also work part time at 
            Sparebanken Sogn og Fjordane. In my spare time i like to work out, where 
            i run and lift weights pretty much every day. 
          </p>
          <div class="section_container_buttons_developers">
            <a class="btn_developers" href="https://www.linkedin.com/in/filip-framstad-90b97420b/"  target="_blank">LinkedIn</a>
          </div> 
          
        </div>
        <div class="box">
          <img src="{{url_for('static',filename='pictures/Oscar1.jpg')}}" alt="" style="border-radius: 50%; width:200px; margin: 5px 5px;">
          <h3>Oscar Birkeland<br><br>CEO, CFO, CTO, President, Vice President, Manager, Senior and Assistant Director, Head of Coding, Marketing, Design and Economics, Head developer and assistant to head developer<br></h3>
          <p>  My name is Oscar Birkeland and i am 19 years old from Osterøy I'm taking a one year 
            study in "Digital Økonomi og Ledelse". I also work part time at 
            Rema 1000 Øyrane Torg. In my spare time i like to work out, where 
            i walk and lift weights pretty much every day. 
          </p>
          <div class="section_container_buttons_developers">
            <a class="btn_developers" href="https://www.linkedin.com/in/oscar-tinius-birkeland-7479852b5/"  target="_blank">LinkedIn</a>
          </div> 
        </div>

        <div class="box">
          <img src="{{url_for('static',filename='pictures/Thea1.jpg')}}" alt="" style="border-radius: 50%; width:200px; margin: 5px 5px;">
          <h3>Thea Raunsgard</h3>
          <p>  My name is Thea Raunsgard and I am 22 years-old from Kinsarvik. I am taking a one year 
            study in "Digital Økonomi og Ledelse". Previously, I have studied International Management and International
              Business at BI and Grenoble Ecole de Management. I also work part-time at 
            OneSubsea as an HR intern. I enjoy skiing, hiking and travelling.
          </p>
            <div class="container_buttons_developers">
              <a class="btn_developers" href="https://www.linkedin.com/in/thea-raunsgard/"  target="_blank">LinkedIn</a>
            </div>
        </div>   

        <div class="box">
          <img src="{{url_for('static',filename='pictures/Hannah1.jpg')}}" alt="" style="border-radius: 50%; width:200px; margin: 5px 5px;">
          <h3>Hannah Drivenes</h3>
          <p>  I am 23 years old and born and raised in Bergen. Growing up here I developed a big love for the outdoors and I therefore like hiking in the mountains. I also appreciate my friends, and hanging out with them in my spare time. Other than that i love learing new things, especially about other cultures and languages. 
          </p>
          <div class="section_container_buttons_developers">
            <a class="btn_developers" href="https://www.linkedin.com/in/hannah-drivenes/"  target="_blank">LinkedIn</a>
          </div> 
        </div>     
    </div>

    <div class="developers">

      <div class="box2">
        <img src="{{url_for('static',filename='pictures/Ninni1.jpg')}}" alt="" style="border-radius: 50%; width:200px; margin: 5px 5px;">
        <h3>Ninni Eide</h3>
        <p>  My name is Ninni, I am 24 years old from Oslo. I moved to Bergen in 2019 to start studying at Universitetet i Bergen before I started at HVL. I am on the last semester of my bachelor’s degree in “Økonomi og administrasjon”. Living in Bergen for the last 5 years has been nice with so many hiking destinations right outside the door. On my spare time I play volleyball and I am a volleyball-coach for the men’s team.
          </p>
        <div class="section_container_buttons_developers">
          <a class="btn_developers" href="https://www.linkedin.com/in/ninniweissereide/"  target="_blank">LinkedIn</a>
        </div> 
      </div>

      <div class="box2">
        <img src="{{url_for('static',filename='pictures/Cecilie1.jpg')}}" alt="" style="border-radius: 50%; width:200px; margin: 5px 5px;">
        <h3>Cecilie Bjørnestad Hamre</h3>
        <p>  Hi, I'm Cecilie, a 22-year-old from Bergen. Currently, I'm studying 'Digital Økonomi og Ledelse' at HVL for a year while working part-time at Rema 1000. 
            Outside of my studies and work, I love staying active and exploring Bergen's beautiful nature. 
            I'm also a certified personal trainer with a background in physiotherapy. 
            Although I started with physiotherapy, I decided to try something new and switched to digital economics and management. 
            I believe in embracing new challenges and learning opportunities. 
            Exciting things are coming, as I bring my fitness know-how and a fresh perspective to our upcoming app, making sustainable living easy and fun.
          </p>
        <div class="section_container_buttons_developers">
          <a class="btn_developers" href="https://www.linkedin.com/in/cecilie-hamre-003a882b8/"  target="_blank">LinkedIn</a>
        </div> 
      </div>

      <div class="box2">
        <img src="{{url_for('static',filename='pictures/Eirik1.jpg')}}" alt="" style="border-radius: 50%; width:200px; margin: 5px 5px;">
        <h3>Eirik Sundsøy</h3>
        <p>  Eirik intro.
          </p>
        <div class="section_container_buttons_developers">
          <a class="btn_developers" href="https://www.linkedin.com/in/eiriksundsoey/"  target="_blank">LinkedIn</a>
        </div> 
      </div>  

      <div class="box2">
        <img src="{{url_for('static',filename='pictures/Hedda1.jpg')}}" alt="" style="border-radius: 50%; width:200px; margin: 5px 5px;">
        <h3>Hedda Gjerde</h3>
        <p> My name is Hedda Gjerde. I am a 21-year-old girl from a small town, called Vikedal. Sports, particularly volleyball, have been a significant part of my life, and I continue to pursue my passion for it here in Bergen. Currently, I am studying my last year of Bachelor in Economics and Administration at HVL. During my freetime I like to hang out with my friends and I enjoy hiking. 
          </p>
        <div class="section_container_buttons_developers">
          <a class="btn_developers" href="https://www.linkedin.com/in/heddagjerde/"  target="_blank">LinkedIn</a>
        </div> 
      </div>   

  </div>

  </div>          
</section>
        
{% endblock content %}
