{% extends "layout.html" %}
{% block content %}
  
<!-- Header -->
<section class="section_header_methodology">
    <div class="container">
  
      <div class="header">
        <div class="box"> 
          <h1 style="font-size:55px;"><span class="text-logo"> Methodology</span></h1>
          <p style="text-align:left;"> In order for the carbon app to function and calculate your carbon emissions, we need to have a set of formulas. Theese formulas are included in our methodology and shows the numbers behind
            our calculation.  </p>
          <div class="container_buttons_links_header">
            <div class="btn">
                <a href="#" class="btn btn-primary btn-lg mr-2", style="background-color:#007bff;">Essay</a>
            </div>
            <div class="btn">
                <a href="{{url_for('carbon_app.carbon_app_home')}}" class="btn btn-primary btn-lg mr-2", style="background-color:#007bff;">Carbon App</a>
            </div>
          </div>  
        </div>
        <div class="box">
          <img 
            src="{{url_for('static', filename='icons/methodology1.svg')}}"
            width="325" 
            height="325"
            alt=""/>
        </div>
      </div>
      
    </div>
</section> 

<!-- Methodology -->
<section class="section_body_methodology">
    <div class="container">

        <div class="methodology" style="display:block;">
            <h1 style="text-align:center;"> Our numbers and formulas</h1>
            <p>
              We are going to studty some \(\LaTeX ~ formulas\) that could be useful for our project:
            </p> 
        </div>

        <!--Enumerated list (table with two columns)-->
        <div class="methodology"> 
            <div class="box_table2" style="height:200px;">
                <ol start="1">
                    <li>
                        <h4>Mathematical expressions 1</h4>
                        <p class="text-left">
                            In progress.
                            <br>
                            x
                        </p>
                    </li>
                </ol>                        
            </div>
            <div class="box_table2" style="height:200px;">
                <ol start="2">
                    <li>
                        <h4>Mathematical expressions 2</h4>
                        <p class="text-left">
                            In progess.
                            <br>
                            x
                        </p>
                    </li>
                </ol>
            </div>  
        </div>

        <!--Enumerated list (table with two columns)-->
        <div class="methodology"> 
            <div class="box_table2" style="height:425px;">
                <ol start="3">
                    <li>
                        <h4>Sums</h4>
                        <p class="text-left">
                            In progress.
                            <br>
                            x
                        </p>
                    </li>
                    <li>
                        <h4>Products</h4>
                        <p class="text-left">
                            In progress.
                            <br>
                            x
                        </p>
                    </li>
                </ol>                        
            </div>
            <div class="box_table2" style="height:425px;">
                <ol start="5">
                    <li>
                        <h4>Limits</h4>
                        <p class="text-left">
                            In progress.
                            <br>
                            x
                        </p>
                    </li>
                    <li>
                        <h4>Integrals</h4>
                        <p class="text-left">
                            In progress.
                            <br>
                            x
                        </p>
                    </li>
                </ol>
            </div>  
        </div>

        

        <!--Enumerated list (table with one column)-->
        <div class="methodology">              
            <div class="box_table1">
                      
            </div>
            <div class="box_table1">
                <ol>
                    <li>
                        <h4>Buses</h4>
                        <p class="text-left">
                            x
                            <br>
                             x
                            <br>
                            Where:
                            <ul style="text-align:left;">
                                <li>x</li>
                                <li>x</li>
                                <li>x</li>
                                <li>x </li>
                            </ul>
                            
                        </p>
                    </li>
                    <li>
                        <h4>Cars</h4>
                        <p class="text-left">
                            ...
                        </p>
                    </li>
                    <li>
                        <h4>Planes</h4>
                        <p class="text-left">
                            ...
                        </p>
                    </li>
                </ol>                        
            </div>
            <div class="box_table1">
                      
            </div>  
        </div>

        
      
    </div>
</section>

{% endblock content %}
